@import "tailwindcss";

@theme {
  /* #2fcf7f */
  --color-primary: #2fcf7f;
  --color-secondary: #fff;
  --color-accent: #ffff56;
}

html {
  @apply text-[18px];
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.b {
  @apply border-2 border-green-400;
}

* {
  transition: 0.3s;
}
.loader-background {
  height: 100%;
  width: 100vw;
  background-color: #242f3f;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.loader {
  display: inline-block;
  width: 13rem;
  height: 13rem;
  position: relative;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
